<div ng-controller="logoutctrl">
	<md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form" style="padding-top: 125px;padding-bottom: 225px;">
      <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Succesfully Logged Out</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              
            </md-input-container>
            <md-input-container class="md-block">
              
            </md-input-container>
            <center><md-button ng-click="log()" class="md-raised md-primary">&nbsp Back to Login &nbsp</md-button></center>
          </form>
        </md-card-content>
      </md-card>
    </md-content>
</div>